/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

body {
  padding: 10px;
}

.flex {
  display: flex;
  align-items: baseline;
}

.align-center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.gp {
  gap: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ms-15 {
  margin-left: 15px;
}

.p-10 {
  padding: 10px;
}

.text-center {
  text-align: center;
}

.bg-green {
  background-color: rgb(20, 203, 90);
  border-radius: 12px;
}
  



  
